<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--CSM Prod related values-->
    <add key="ActiveDirectoryEndpoint" value="https://login.windows.net/" />
    <add key="ResourceManagerEndpoint" value="https://management.azure.com/" />
    <add key="WindowsManagementUri" value="https://management.core.windows.net/" />
    <add key="AdfClientId" value="1950a258-227b-4e31-a9cf-717495945fc2" />
    <add key="RedirectUri" value="urn:ietf:wg:oauth:2.0:oob" />
    <!--Make sure to write your own tenant id and subscription ID here-->
    <!--<add key="SubscriptionId" value="04d0ffc8-67f4-421f-8c13-2a19e2582264" />-->
    <add key="SubscriptionId" value="7e4761a2-ace1-42b5-b1b3-a81dbf6aaa9e" />
    <add key="ActiveDirectoryTenantId" value="72f988bf-86f1-41af-91ab-2d7cd011db47" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>